{% extends 'base.html.twig' %}

{% block body %}
    <div class="p-4 shadow-4 rounded-3 text-center" style="background-color: hsl(0, 0%, 94%);">
        <h1>Picture of the day by the Nasa.</h1>
        {% if app.user is defined and app.user is not empty %}
        <button type="button" class="btn btn-success">
            <a class="nav-link" href="{{ path('app_image_today') }}">Image</a>
        </button>
        {% endif %}
        <hr class="my-4" />
    </div>
{% endblock %}